:root {
    --primary-color: #64FAB3;
    --secondary-color: #59DEC4;
    --terciary-color: #6EEAF5;
    --cuaternary-color: #59B0DE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: white;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template:
    "header main" 90vh
    "footer footer" 10vh /
    5vw 95vw;
}

.header {
    grid-area: header;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
}

.header .logo {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo p{
    display: block;
    background-color: var(--secondary-color);
    height: 30px;
    width: 30px;
}

.header .navbar {
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    height: 100%;
    width: 100%;
}

.navbar ul {
    list-style: none;
}

.navbar .menu {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
}

/*Hasta aca hago que el menu del navbar cree columnas proporcionales a la cantidad de objetos*/

.menu > li { /* navbar ul li */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Los hijos directos del menu seran los contenedores de referencia relative*/

.navbar ul > li{
    background-color: var(--primary-color);
    transition: 1s;
    transition-delay: 200ms;
    
}

/* Cualquier item dentro de una lista que este en el navbar se pintara del color*/

.menu a {
    display: block;
    text-decoration: none;
}

.navbar .menu li:hover{
    background-color: var(--secondary-color);
    transition: background-color 1s;
}

/*Transicion para todo item lista dentro de navbar hijo del menu*/

.menu li > ul{
    position: absolute;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
    opacity: 0;
    transform: translateX(100%);
    transition: 1s;
}

/* todas las listas dentro de un item de lista se acomodaran a su tamaño y proporcionaran un espacio igual para sus componentes*/

/*la opacidad 0 evitara que se vea la primer animacion pero contribuira al efecto del un-hover*/

.menu .item1:hover .submenu1 {
    opacity: 1;
    transform: translateX(0);
    transition: 1s;
}

/*hover y se vera el menu 1 -esta seria la maqueta para los demas efectos-*/

.main {
    grid-area: main;
    background-color: var(--secondary-color);
    position: relative;
}


/*
.welcome {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.welcome h1 {
    margin: 20px 0;
    text-align: center;
}

.welcome p {
    margin: 40px 0;
    text-align: center;
    width: 80%;
}

.primary-button {
    height: min-content;
    width: max-content;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.welcome .primary-button:hover {
    background-color: var(--terciary-color);
    color: white;
    border: 2px solid white;
}

.welcome .primary-button:active {
    background-color: var(--secondary-color);
    color: black;
    border: 2px solid white;
}

*/
/*
.proyects {
    width: 100%;
    height: 90vh;
    background-color: var(--secondary-color);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.proyects h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.proyects .proyects-display {
    display: grid;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-auto-rows: minmax(150px, 250px);
    gap: 20px;
    justify-content: center;
}

.proyects .proyects-display .proyect-element{
    background-color: grey;
}
*/

.footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    text-align: center;
    width: 80%;
}

.footer p a {
    text-decoration: none;
    color:yellow;
}
