:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --terciary-color: grey;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: white;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template:
    "header" 5vh
    "main" auto
    "footer" 10vh / 100%;
}

.header {
    grid-area: header;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: right;
}

.navbar {
    display: flex;
    background-color: var(--terciary-color);
    height: 100%;
    width: 50%;
}

.socials-item1{
    width: 20px;
    height: 20px;
}

.main {
    grid-area: main;
    background-color: var(--primary-color);
}

.welcome {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.welcome h1 {
    margin: 20px 0;
    text-align: center;
}

.welcome p {
    margin: 40px 0;
    text-align: center;
    width: 80%;
}

.primary-button {
    height: min-content;
    width: max-content;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.welcome .primary-button:hover {
    background-color: var(--terciary-color);
    color: white;
    border: 2px solid white;
}

.welcome .primary-button:active {
    background-color: var(--secondary-color);
    color: black;
    border: 2px solid white;
}

.welcome .secondary-button{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 10%;
    right: 10%;
    box-shadow: 1px 1px 10px 0 #ffffff;
}

.proyects {
    width: 100%;
    height: 90vh;
    background-color: var(--secondary-color);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.proyects h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.proyects .proyects-display {
    display: grid;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-auto-rows: minmax(150px, 250px);
    gap: 20px;
    justify-content: center;
}

.proyects .proyects-display .proyect-element{
    background-color: grey;
}

.footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    text-align: center;
    width: 80%;
}

.footer p a {
    text-decoration: none;
    color:red;
}
