:root {
    --primary-color: #64FAB3;
    --secondary-color: #59DEC4;
    --terciary-color: #6EEAF5;
    --cuaternary-color: #59B0DE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: white;
    min-height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template:
    "header" 5vh
    "main" auto
    "footer" 5vh / 100vw;
}


.header {
    grid-area: header;
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 50px;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    height: 5vh;
    width: 50px;
    background-color: var(--primary-color);
}

.menu {
    position: relative;
}

.menu .submenu1{
    position: absolute;
    display: none;
}

.menu li:active{
    background-color: var(--secondary-color);
    transition: all .2s;
}

.menu .item1:active .submenu1{
    display: block;
    transform: translate(0, 5vh);
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    text-align: center;
    width: 80%;
}

.footer p a {
    text-decoration: none;
    color:red;
}

/*
.welcome {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.welcome h1 {
    margin: 20px 0;
    text-align: center;
}

.welcome p {
    margin: 40px 0;
    text-align: center;
    width: 80%;
}

.primary-button {
    height: min-content;
    width: max-content;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.welcome .primary-button:hover {
    background-color: var(--terciary-color);
    color: white;
    border: 2px solid white;
}

.welcome .primary-button:active {
    background-color: var(--secondary-color);
    color: black;
    border: 2px solid white;
}

.welcome .secondary-button{
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    bottom: 10%;
    right: 10%;
}

.proyects {
    width: 100%;
    min-height: 90vh;
    background-color: var(--secondary-color);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.proyects h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.proyects .proyects-display {
    display: grid;
    height: 90%;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 20px;
    justify-content: center;
}

.proyects .proyects-display .proyect-element{
    background-color: grey;
}

