body {
    font-family: 'Arial', sans-serif;
    background-color: #020265;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    background-color: #373769;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #000000
}

section {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 20px;
    text-align: center;
    color: #e7ecff;
}

article {
    margin: 20px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #5289c3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div {
    margin: 20px;
    width: 40%;
    border-radius: 10px;
}

.date-container {
    margin: 20px;
    background-color: #272d9e;
    width: 50%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

label {
    margin: 5px;
    font-weight: bold;
    color: #bdddff;
}

p {
    font-size: 16px;
    margin: 5px;
    height: 18px;
    color: #000000;
}

input {
    width: 50%;
    height: 30px;
    background-color: #3498db;
    color: #ffffff;
    border: 1px solid #5d5c5c;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin: 20px;
    width: 35%;
    height: 50px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: background-color 0.4s;
    align-self: center;
}

button:hover {
    background-color: #77b9e4;
    color:#ffffff
}

#messageDisplay {
    display: none;
}

#mensaje1, #mensaje2 {
    margin-top: 10px;
    color: #d9534f;
}


#button-section {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#calculatedate {
    margin: 20px;
    height: 100px;
    width: 400px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #5289c3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

#calcularfecha {
    align-self: center;
}

#fechaIngreso{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#cantidadDiasPermanencia{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*Modal*/
#openModal {
    width: 80px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    align-self: auto;
}
  
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
  
  .modal-content {
      display: flex;
      flex-direction: column;
      height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  #modal-title, #modal-text {
    margin-bottom: 10px;
  }
  
  #modal-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  #close-modal {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #volver{
    align-self: auto;
    background-color: #9e9e9e36;
    transition: background-color 0.3s;
  }
  #volver:hover{
    background-color: #e0e0e036;
  }
@media screen and (min-width: 600px) {
    main {
        max-width: 800px;
    }
}
