body {
    font-family: 'Arial', sans-serif;
    background-color: #343232;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    background-color: #443939;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 20px;
    text-align: center;
    color: #868a8f;
}

article {
    margin: 20px;
    background-color: #98b2ce;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div {
    margin: 20px;
    width: 40%;
}

.date-container {
    margin: 20px;
    background-color: #d9534f;
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-weight: bold;
    color: #264567;
}

p {
    font-size: 16px;
    margin: 0;
}

input {
    width: 50%;
    height: 30px;
    background-color: #4a5969;
    color: #b4bbc3;
    border: 1px solid #5d5c5c;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    margin: 20px;
    width: 35%;
    height: 50px;
    background-color: #3d638b;
    color: #d6d6d6;
    cursor: pointer;
    border: 1px solid #5d5c5c;
    border-radius: 5px;
    transition: background-color 0.4s;
}

button:hover {
    background-color: #98b2ce;
    color:#4b525a
}

#mensaje1, #mensaje2 {
    margin-top: 10px;
    color: #d9534f;
}

@media screen and (min-width: 600px) {
    main {
        max-width: 800px;
    }
}

#messageDisplay {
    display: none;
}

#button-section {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

/*Modal*/
#openModal {
    width: 80px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  #modal-title, #modal-text {
    margin-bottom: 10px;
  }
  
  #modal-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  #close-modal {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }