body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.search-section {
    margin-top: 20px;
}

.search-container {
    text-align: center;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result-container {
    margin-top: 20px;
}

#resultTable {
    width: 100%;
    border-collapse: collapse;
}

#resultTable th, #resultTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#resultTable th {
    background-color: #f2f2f2;
}

#reference-link {
    text-align: center;
    margin-top: 10px;
}

footer {
    display: flex;
    margin-top: 20px;
    text-align: center;
    color: #777;
    justify-content: center;
}

input[type="button"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block; /* Añadido para corregir la alineación */
    margin: 0 auto; /* Añadido para centrar el botón */
}

input[type="button"]:hover {
    background-color: #555;
}
#sign {
    display: block;
    font-size: 6px;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 21ch;
    animation: typing 2s steps(21), blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Style the button (unchanged) */
#openModal {
    width: 80px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  
  /* Hide the modal initially (unchanged) */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  /* Center the modal content (unchanged) */
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  /* Modal title and text styles */
  #modal-title, #modal-text {
    margin-bottom: 10px;
  }
  
  #modal-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Style the close button (unchanged) */
  #close-modal {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }